 body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #f0f4f9;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 40px;
      background: #1e76ce83;
      color: white;
    }

    header .logo {
      font-size: 1.5em;
      font-weight: bold;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 15px;
      margin: 0;
      padding: 0;
    }

    nav a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }

    .btn {
      background: #ff9800;
      color: white;
      padding: 8px 15px;
      border-radius: 5px;
      text-decoration: none;
    }

    /* Registration Section */
    .registration-container {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px ;
    }

    /* main{
      
    } */

    .registration-box {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 900px;
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  gap: 30px; /* space between columns */
}

/* About section */
.registration-info {
  flex: 1;
  background: #a1bdeb;
  padding: 40px;
  border-radius: 20px;
  font-size: 0.95em;
  color: #333;
}

/* Registration form */
.register-form {
  flex: 1;
}


    .register-form h2 {
      margin-top: 10px;
      text-align: center;
      color: #003366;
    }

    .formgroup {
      margin-bottom: 5px;
    }

    .formgroup label {
      display: block;
      margin-bottom: 9px;
      font-weight: bold;
      color: #333;
    }

    .formgroup input, 
    .formgroup select {
      width: 100%;
      padding: 6px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
    }

    .formgroup input:focus, 
    .formgroup select:focus {
      border-color: #003366;
    }

    /* Multi-step */
    .form-step {
      display: none;
    }
    .form-step.active {
      display: block;
      animation: fadeIn 0.4s ease-in-out;
    }

    @keyframes fadeIn {
      from {opacity: 0; transform: translateY(10px);}
      to {opacity: 1; transform: translateY(0);}
    }

    .step-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }

    button {
      padding: 10px 20px;
      background: #003366;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 1em;
      cursor: pointer;
    }
    button:hover {
      background: #0055aa;
    }

    .required{
      color: red;
    }

     footer {
    text-align: center;
    padding: 1px;
    background: #004080;
    color: white;
    margin-top: 5px;
    }
