body {
    margin: 0;
    font-size: 1.2rem;
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #4e54c8;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    color: #fff;
}

nav a {
    text-decoration: none;
    margin: 0 30px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5%;
    background-color: #4e54c8;
    color: #fff;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    background-color: #4e54c8;
    color: #fff;
    height: 300px;
}

.hero div {
    flex: 1;
    height: 100%;
    align-content: center;
    margin: 0 10px;
    font-size: x-large;
}

.hero div:nth-child(2) {
    background-color: #8f94fb;
    border-radius: 7px;
    text-align: center;
}
/*  */

button {
    padding: 7px 16px;
    background-color: #9c9fda;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:nth-child(2) {
    background-color: #4e54c8;
}